<h2>Create new account</h2>
    <form action="/register" method="post">
        <input id="new-name" type="text" placeholder="name" name="name"><br>
        <input id="new-username" type="text" placeholder="username" name="username"><br>
        <input id="new-email" type="email" placeholder="email" name="email" /><br>
        <input id="new-password" type="password" placeholder="password" name="password" /><br>
        <input id="new-submit" type="submit" value="Create Account" />
    </form>
<a id="login-link" href="/sessions/login">Log in</a>
<a id="recent-peeps" href="/chitter/peeps">See recent peeps</a>
