<h1>Welcome to Chitter</h1>
<a id="signup-link" href="/register/new">Sign up</a>
<a id="login-link" href="/sessions/login">Log in</a>
<a id="recent-peeps" href="/chitter/peeps">See recent peeps</a>

<%= error %>