body {
	display: flex;
	border-style: solid;
	background-color: rgb(43, 43, 56);
	flex-direction: column;
	text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.peeps-container {
	display: flex;
	justify-content: space-around;
	font-size: 30px
}

.home {
    background-color: rgb(68, 174, 245);
}