<h1>Log in to Chitter</h1>
<form action="/sessions" method="POST">
    <input id="email" type="email" name="email">
    <input id="password" type="password" name="password">
    <input id="submit-login" type="submit" value="Log in">
</form>
<a id="signup-link" href="/register/new">Sign up</a>
<a id="recent-peeps" href="/chitter/peeps">See recent peeps</a>
