    <form action="/peeps" method="POST">
        <input id="email-or-username" type="text" name="emailOrUsername">
        <input id="input-password" type="text" name="password">
        <input id="submit-login" type="submit" value="Log in">
    </form>
